/* Menu */

#nav-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0.5rem 1rem;
}

.social{
    display: none;
}

.navbar{
    justify-content:center;
    margin-top: 0.8rem;
}

.navbar a{
    padding: .5rem;
}

/* showcase */

#showcase-container{
    grid-template-columns: 1fr;
}

/* Articles */

.articles-container > *{
    grid-column: 1 / span 3;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child{
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 3;
  }

  /* footer */

.footer-container{
    display: flex;
    flex-direction: column;
}

/* article page */

#article .page-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#article .page-container h1{
    font-size: 2rem;
}

/*about page */

#about-main .basic-container .page-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#about-main .basic-container .page-container .l-heading{
    font-size: 32px;
    text-align: center;
}

@media(max-width: 375px) and (max-height:811px){
    #showcase-container p {
        display: none;
    }
}