/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

body{
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    background: var(--secondary-color) ;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
}

/* variables */
:root{
    --primary-color: #c72727;
    --secondary-color: #ffffff;
    --tertiary-color: #333;
    --quarternary-color: #777;
    --quinary-color: #f99500;
    --senary-color: #f3f3f3;
    --max-width: 1100px;
}

.category{
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

/* Utility */

.py-1 { padding: 1.5rem 0 }
.py-2 { padding: 2rem 0 }
.py-3 { padding: 3rem 0 }
.p-1 { padding: 1.5rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }

.basic-container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.btn{
    display: inline-block;
    border: none;
    background: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 0.5rem 1.5rem;
}

.btn:hover{
    opacity: 0.9;
}

.btn-light{
    background: var(--secondary-color);
    color: var(--tertiary-color);
}

.btn-red{
    background: var(--primary-color);
    color: var(--secondary-color);
}

.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.social a{
    color: var(--quarternary-color);
    padding-right: 8px;
}

.social btn{
    padding: 12px;
}

.category{
    display: inline-block;
    text-transform: uppercase;
    border-radius: 15px;
    color: var(--secondary-color);
    margin-bottom: 8px;
    padding: 0.4rem 0.6rem;
    font-size: 0.55rem;
}

.category-sports{
    background: var(--sports-color);
}

.category-ent{
    background: var(--ent-color);
}

.category-tech{
    background: var(--tech-color);
}

.card {
    background: #fff;
    padding: 1rem;
  }

.bg-primary{
    background: var(--primary-color);
    color: var(--secondary-color);
}

.bg-tertiary{
    background: var(--tertiary-color);
    color: var(--secondary-color);
}

/* Menu */
#main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--secondary-color);
}

#nav-container{
    display: grid;
    width: 100%;
    grid-template-columns: 2.5fr 1.2fr 0.8fr;
    grid-template-rows: 40px;
    align-items: center;
    margin: 0px 1px;
    padding: 1rem;
    position:sticky;
    z-index: 2;
    top: 0;
}

.logo{
    height: 100%;
    width: 180px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar a{
    font-weight: bold;
}

.navbar a.current{
    background: var(--primary-color);
    color: var(--secondary-color);
}

.navbar a:hover{
    background: var(--senary-color);
    color: var(--tertiary-color);
}

/* showcase */

.showcase{
    display: flex;
    width: 100vw;
    height: 60vh;
    position: relative;
    padding: 2rem;
    color: var(--secondary-color);
    background: url('../img/featured.jpg') no-repeat center center/cover;
}

.showcase:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

#showcase-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.showcase-content{
    z-index: 1;
    padding: 20px 0px;
}

.showcase h1{
    font: 32px;
}

.showcase p{
    margin-bottom: 1rem;
}

/* Articles */

#home-articles{
    background: var(--senary-color);
}

.articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.articles-container > *:first-child,
.articles-container > *:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
    grid-column: 2 / span 2;
  }